<div class="welcome-wrapper">
  <!-- Parte superior: logo a la izquierda y botón a la derecha -->
  <div class="top-bar">
    <div class="logo-nombres">
      <img src="/assets/logo suda1.JPG" alt="Logo TEC" class="logo-suda" />
      <div class="user-names">
        <p>Wilson Zhicay</p>
        <p>Marco Ramirez</p>
      </div>
    </div>
    <div class="top-button">
      <button routerLink="/producto">Conoce nuestro producto</button>
    </div>
  </div>

  <!-- Contenido principal -->
  <div class="welcome-box">
    <!-- Lado izquierdo: logo del microgenerador -->
    <div class="logo-container left-logo">
      <img src="/assets/logo.png" alt="Logo Microgenerador" class="logo" />
    </div>

    <!-- Lado derecho: contenido de bienvenida -->
    <div class="logo-container right-logo">
      <h1>⚡ Bienvenido al <br />Sistema de Energía</h1>
      <p>Gestiona tu energía de manera eficiente y sostenible.</p>
      <p>Descubre cómo nuestra microturbina convierte el flujo natural en energía útil, almacenada en un banco de baterías listo para alimentar tus proyectos.</p>
      <button routerLink="/login">Iniciar Sesión</button>
    </div>
  </div>
</div>
