<div class="producto-wrapper">
  <div class="top-bar">
    <div class="logo-nombres">
      <img src="assets/logo.png" alt="Logo" class="logo-suda-large" />
      <div class="dashboard-title">
  <p>Dashboard Energético</p>
</div>

      <div class="user-names">

                      </div>
    </div>
    <div class="top-button">
      <button routerLink="/">🏠 Volver al inicio</button>
    </div>
  </div>

  <div class="welcome-box centered-content">
    <div class="logo-container left-logo">
      <h2>🔧 Microgeneradores</h2>
      <ul>
        <li>Instalación rápida y modular</li>
        <li>Monitoreo en tiempo real</li>
        <li>Alta eficiencia energética</li>
      </ul>
    </div>

    <div class="logo-container right-logo">
      <h2>🔋 Almacenamiento Inteligente</h2>
      <ul>
        <li>Baterías de litio de larga duración</li>
        <li>Capacidad escalable</li>
        <li>Integración con paneles solares y turbinas</li>
      </ul>
    </div>
  </div>
</div>
